################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HL7BallotTool/obj
/HL7BallotTool/bin
/.vs
